spring:
  application:
    name: 'inventory-service'
  datasource:
    url: jdbc:postgresql://localhost:5432/inventorydb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


kafka:
  bootstrap-servers: localhost:9092
  topic: inventory-events
